<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compotible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
      function onChangeProduct(self) {
        var tr = self.parentNode.parentNode;
        var row_index = tr.sectionRowIndex;
        document.querySelectorAll("#unit_price" + row_index + ">span").forEach(function(span) {
          if(span.getAttribute("prdct_id") === self.value) {
            span.style.display = 'block';
          } else {
            span.style.display = 'none';
          }
        })
      };
      function onChangeCategory(self) {
        var tr = self.parentNode.parentNode;
        var row_index = tr.sectionRowIndex;
        document.querySelectorAll("#prdct_id_select" + row_index + ">option").forEach(function(option) {
          if(option.getAttribute("category") === self.value) {
            option.style.display = 'block';
          } else {
            option.style.display = 'none';
          }
        });
      };
      function onChangeTradeNum(){
        var trade_num = document.getElementsByName('trade_num');
        var unit_price = document.getElementsByName('unit_price');
        var tax_cd = document.getElementById("tax_cd").value;
        for(var i=0; i<trade_num.length; i++){
          var cost = document.getElementsByName('cost');
          if(trade_num[i].value && tax_cd==="true") {
            cost[i].innerText = parseInt(trade_num[i].value) * parseInt(unit_price[i].value);
          } else if(trade_num[i].value && tax_cd==="false"){
            cost[i].innerText = parseInt(trade_num[i].value) * parseInt(unit_price[i].value);
          };
          if(isNaN(cost[i].innerText)){
            cost[i].innerText = 0;
          }
        };
        var cost = document.getElementsByClassName("arrvl_cost");
        var total_cost = document.getElementById("total_amount");
        var amount = 0;
        for(var i=0; i<cost.length; i++){
          amount += parseInt(cost[i].innerText);
        };
        total_cost.innerHTML = amount;
      };
      function onClickAddRow() {
        var table = document.getElementById("arrival");
        var row = table.insertRow(-1);
        var category = row.insertCell(-1);
        var product = row.insertCell(-1);
        var trade_num = row.insertCell(-1);
        var unit_price = row.insertCell(-1);
        var cost = row.insertCell(-1);
        var delete_button = row.insertCell(-1);
        var row_length = table.rows.length - 1;
        category.innerHTML = '<select name="cat_cd" class="select" required onchange="onChangeCategory(this)"> ' +
                               '<option value="">カテゴリを選んでください</option> ' +
                               '<% catList.forEach(function(catItem){ %> ' +
                                 '<option value=<%= catItem.cat_cd %>><%= catItem.cat_nm %></option> ' +
                               '<% }); %> ' +
                             '</select>';
        product.innerHTML = '<select id="prdct_id_select'+ row_length +'" name="prdct_id" class="select" required onchange="onChangeProduct(this)"> ' +
                              '<option value="">商品を選んでください</option> ' +
                              '<% prdctList.forEach(function(prdctItem){ %> ' +
                                '<option value=<%= prdctItem.prdct_id %> category=<%= prdctItem.cat_cd %> style="display:none;"><%= prdctItem.prdct_nm %></option> ' +
                              '<% }); %> ' +
                            '</select>';
        trade_num.innerHTML = '<input id="trade_num'+ row_length +'" type="number" name="trade_num" class="input" value=0 onchange="onChangeTradeNum()" required>';
        unit_price.innerHTML = '<input id="unit_price'+ row_length +'" type="number" name="unit_price" class="unit_price" value=0 onchange="onChangeTradeNum()" required> ';
        cost.innerHTML = '<div class="arrvl_cost" name="cost"></div>';
        delete_button.innerHTML = '<button class="submit" onclick="deleteRow(this)">削除</button>'
      }
      function deleteRow(obj) {
        tr = obj.parentNode.parentNode;
        tr.parentNode.deleteRow(tr.sectionRowIndex);
        var cost = document.getElementsByClassName("arrvl_cost");
        var total_cost = document.getElementById("arrvl_total_cost");
        var amount = 0;
        for(var i=0; i<cost.length; i++){
          amount += parseInt(cost[i].innerText);
        };
        total_cost.innerHTML = amount;
      }
    </script>
  </head>
  <body>
    <header>
      <h1>AkinoStore</h1>
      <nav id="global_navi">
        <ul>
          <li><a href="/mst_menu">マスタ登録・修正</a></li>
          <li class="current"><a href="/arrvl_menu">仕入登録・修正</a></li>
          <li><a href="/sales_menu">売上登録・修正</a></li>
          <li><a href="/sales_check">売上確認</a></li>
          <li><a href="/inventory">在庫確認</a></li>
        </ul>
      </nav>
    </header>
    <form action="/arrvl_reg" method="get" class="arrvl_reg0-form">
      <span class="label">税表示</span>
      <select name="tax_cd" class="select" required>
        <% taxList.forEach(function(taxItem){ %>
          <option id="tax_cd" value=<%= taxItem.tax_cd %>><%= taxItem.tax_nm %></option>
        <% }); %>
      </select>
      <button type="submit" class="submit">切替</button>
      <span id="total_label" class="label">合計金額</span><span id="total_amount">0</span>
    </form>
    <form action="/arrvl_reg" method="post" class="arrvl_reg-form">
      <input type="hidden" name="tax" value=<%= taxList[0].tax_cd %>>
      <table id="arrival">
        <thead>
          <tr>
            <th id="index_category">カテゴリ</th>
            <th id="index_product">商品名</th>
            <th id="index_trade_num">個数</th>
            <th id="index_unit_price">単価</th>
            <th id="index_cost">金額</th>
            <th id="index_button"></th>
          </tr>
        </thead>
      </table>
      <button class="submit" onclick="onClickAddRow()">追加</button>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <button type="submit" class="submit">登録</button>
      <br>
    </form>
  </body>
</html>