<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compotible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascript/prdct_use.js"></script>
  </head>
  <body>
    <header>
      <h1>AkinoStore</h1>
      <nav id="global_navi">
        <ul>
          <li class="current"><a href="/mst_menu">マスタ登録・修正</a></li>
          <li><a href="/arrvl_menu">仕入登録・修正</a></li>
          <li><a href="/sales_menu">売上登録・修正</a></li>
          <li><a href="/sales_check">売上確認</a></li>
          <li><a href='/invntry_check'>在庫確認</a></li>
        </ul>
      </nav>
    </header>
    <div class="wrapper">
        <ul class="main-list">
          <% prdctList.forEach(function(prdctItem){ %>
            <li class="main-list__item">
              <a>
                <p class="prdct_mst__prdct_id"><%= prdctItem.prdct_id %></p>
                <p class="prdct_mst__cat_cd"><%= prdctItem.cat_cd %></p>
                <p class="prdct_mst__cat_nm"><%= prdctItem.cat_nm %></p>
                <p class="prdct_mst__jan"><%= prdctItem.jan %></p>
                <p class="prdct_mst__prdct_nm"><%= prdctItem.prdct_nm %></p>
                <p class="prdct_mst__price"><%= prdctItem.price %></p>
                <p class="prdct_mst__latest"><%= prdctItem.latest %></p>
              </a>
            </li>
          <% }); %>
        </ul>
    </div>
    <form action="/prdct_mst" method="post" class="prdct_mst-form" name="delete_prdct">
        <span class="label">id：</span>
        <input type="number" name="prdct_id" class="input" required>
        <input type="hidden" name="_method" value="delete">
        <br>
        <br>
        <button type="submit" class="submit" id="delete_prdct_button">削除</button>
        <br>
    </form>
  </body>
</html>
