<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compotible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>AkinoStore</h1>
      <nav id="global_navi">
        <ul>
          <li><a href="/mst_menu">マスタ登録・修正</a></li>
          <li><a href="/arrvl_menu">仕入登録・修正</a></li>
          <li><a href="/sales_menu">売上登録・修正</a></li>
          <li class="current"><a href="/sales_check">売上確認</a></li>
          <li><a href="/inventory">在庫確認</a></li>
        </ul>
      </nav>
    </header>
    <div class="wrapper">
      <div align="center">
        <form action='/sales_trend' method='post' class='sales_trend-form'>
          <input type="hidden" name="month" value="">
        </form>
        <button><a href="/sales_trend_category">カテゴリ別販売動向</a></button>
        <button><a href="/sales_trend_prdct_monthly">月別商品販売動向</a></button>
      <table rules="all">
        <tr>
          <th>商品名</th>
          <th>8/1</th>
          <th>8/2</th>
          <th>8/3</th>
          <th>8/4</th>
          <th>8/5</th>
          <th>8/6</th>
          <th>8/7</th>
          <th>8/8</th>
          <th>8/9</th>
          <th>8/10</th>
          <th>8/11</th>
          <th>8/12</th>
          <th>8/13</th>
          <th>8/14</th>
          <th>8/15</th>
          <th>8/16</th>
          <th>8/17</th>
          <th>8/18</th>
          <th>8/19</th>
          <th>8/20</th>
          <th>8/21</th>
          <th>8/22</th>
          <th>8/23</th>
          <th>8/24</th>
          <th>8/25</th>
          <th>8/26</th>
          <th>8/27</th>
          <th>8/28</th>
          <th>8/29</th>
          <th>8/30</th>
          <th>8/31</th>
        </tr>
        <% salesList.forEach(function(salesItem){ %>
          <tr class="main-list__item">
            <td class="sales_trend__prdct_nm"><%= salesItem.prdct_nm %></td>
            <td class="sales_trend__date"><%= salesItem._8月1日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月2日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月3日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月4日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月5日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月6日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月7日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月8日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月9日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月10日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月11日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月12日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月13日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月14日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月15日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月16日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月17日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月18日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月19日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月20日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月21日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月22日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月23日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月24日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月25日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月26日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月27日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月28日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月29日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月30日 %></td>
            <td class="sales_trend__date"><%= salesItem._8月31日 %></td>
          </tr>
        <% }); %>
      </table>
      </div>
    </div>
  </body>
</html>
