<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compotible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>AkinoStore</h1>
      <nav id="global_navi">
        <ul>
          <li><a href="/mst_menu">マスタ登録・修正</a></li>
          <li><a href="/arrvl_menu">仕入登録・修正</a></li>
          <li class="current"><a href="/sales_menu">売上登録・修正</a></li>
          <li><a href="/sales_check">売上確認</a></li>
          <li><a href='/invntry_check'>在庫確認</a></li>
        </ul>
      </nav>
    </header>
    <div class="wrapper">
        <li>
            <p>仕入高：</p><span><%= total_cost %></span>
            <p>売上高：</p><span><%= total_sales %></span>
            <p>損益：</p><span><%= profit_loss %></span>
            <p>計算上現金有高：</p><span><%= total_calc_cash %></span>
            <p>現金過不足：</p><span><%= excess_deficiency %></span>
            <p>現金有高：</p><span><%= total_cash %></span>
        </li>
        <form action="/settlement2" method="post" class="settlement2-form">
          <br>
          <button type="submit" class="submit">登録</button>
          <br>
      </form>
    </div>
  </body>
</html>